.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

/* Section des graphiques */
.charts-section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes pour les graphiques */
    gap: 20px;
}

/* Styles pour les graphiques */
.chart-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-container h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}